# FPC1028
on boot
    ## added for fpc fingerprint
    chmod 0600 /sys/bus/platform/devices/soc:fpc1020/irq
    chown system system /sys/bus/platform/devices/soc:fpc1020/irq
    chmod 0200 /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chown system system /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    start fpc1028_hal

service fpc1028_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service-fpc1028
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input
    disabled 

# PixelWorks Iris2P
on boot
    chown system system /dev/iris2p
    chmod 0666 /dev/iris2p
    chown system system /sys/devices/virtual/misc/iris2p/iris2p_func_status
    chown system system /sys/devices/virtual/misc/iris2p/iris2p_pt_power
    chown system system /sys/devices/virtual/misc/iris2p/memc_status
    chown system system /sys/devices/virtual/misc/iris2p/iris2p_firmware
    chown system system /sys/devices/virtual/misc/iris2p/iris2p_force_func_disable
    chmod 0444 /sys/devices/virtual/misc/iris2p/iris2p_func_status
    chmod 0664 /sys/devices/virtual/misc/iris2p/iris2p_pt_power
    chmod 0444 /sys/devices/virtual/misc/iris2p/memc_status
    chmod 0664 /sys/devices/virtual/misc/iris2p/iris2p_firmware
    chmod 0644 /sys/devices/virtual/misc/iris2p/iris2p_force_func_disable

on post-fs-data
    mkdir /data/vendor/display/firmware 0777 system system
    chmod 0777 /data/vendor/display/firmware/MCF.bin
    chmod 0777 /data/vendor/display/firmware/iris2p_ccf1.fw
    chmod 0777 /data/vendor/display/firmware/iris2p_ccf2.fw
    chmod 0777 /data/vendor/display

# Charger
    # Create hvdcp_opti directory
    mkdir /mnt/vendor/persist/hvdcp_opti 0770 root system

on charger
    start vendor.hvdcp_opti
    start power_off_alarm
    setprop vendor.usb.controller a600000.dwc3
    setprop sys.usb.configfs 1 
